<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.QR" version="0.5.3019" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.7" />
  <package id="Microsoft.Windows.MixedReality.DotNetWinRT" version="0.5.1049" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.22621.755" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="OpenCV" version="2.4.11" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" />
</packages>